@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');
*{
    margin: 0;
    padding: 0;

    
}

nav{
    background-color: rgb(18, 205, 229);
    color: white;
    height: 65px;
    font-size: 25px;
    display: flex;
    align-items: center;
    padding:0 13px;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
}
.gameContainer{
    /* background-color: rgba(255, 196, 0, 0.645); */
    display: flex;
    justify-content: center;
    
    height: 100vh;
    background-image: url(bg2.jpg);    
}

.container{
    display: grid;
    margin-top: 50px;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-image: no-repeat;
    
}
.gameInfo{
    color: aliceblue;
    margin-top: 50px;
}
.box{
    border: 2px solid rgb(18, 205, 229);
    font-size: 6vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.551);
}
.box:hover{
    background-color: rgba(185, 229, 238, 0.966);
}

.info{
    font-size: 25px;
}
.gameInfo{
    padding: 0 34px;
    font-family: 'Baloo Bhaina 2', cursive;
}
.imgBox img{
    width: 0;
    transition:width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}

#reset{
    margin: 35px;
    padding: 3px 8px;
    border-radius: 12px;
    background-color: rgb(18, 205, 229);
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: medium;

}

.line{
    background-color: rgb(208, 241, 246);
    width: 0vw;
    height:3px ;
    position: absolute;
    
    transition: width 1s ease-in-out;
}

@media  screen and (max-width:1000px) {
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container{
        
        grid-template-rows: repeat(3,20vw);
        grid-template-columns: repeat(3,20vw);
        
    }
}